$purple:#9e18dd;
//menu
$menu-dark: #373a47;
$menu-item-list: #b8b7ad;
$menu-item: #bdc3c7;
//carousel
$border: rgb(189, 189, 189);
$carousel-background: rgb(255, 245, 254);
//modal
$button-red: #e74040;
$shadow-modal: rgba(0,0,0, 0.3);