button {
    color: #fff !important;
    border: none;
    position: relative;
    overflow: hidden;
    padding: 2.2% 5%;
    font-size: 120% !important;
    cursor: pointer;
    outline: none;
    background-position: center;
    transition: background 0.4s;
}

.purple {
    background-color: $purple;
}

.red {
    background-color: $purple;
}

//ripple effect, twice fo the same, for different colors

.purple:hover {
  background: lighten( $purple, 10% ) radial-gradient(circle, transparent 1%, $purple 1%) center/15000%;
}

.purple:active {
  background-color: lighten( $purple, 15% );
  background-size: 100%;
  transition: background 0s;
}

.red:hover {
  background: lighten( $button-red, 10% ) radial-gradient(circle, transparent 1%, $button-red 1%) center/15000%;
}

.red:active {
  background-color: lighten( $button-red, 15% );
  background-size: 100%;
  transition: background 0s;
}

//pc version
@include breakMin(600) {
  
}
