.carouselContainer {
  width: 85%;
  padding-left: 7.5%;
}

.slick-arrow {
  display: none !important;
}

//the whole slide of the container
.carouselHolder {
  width: calc(100% - 4px) !important;
  text-decoration: none;
  background: $carousel-background;
  color: black;
  border: 1px solid $border;
}

.carouselImageHolder {
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

//box for all the text
.carouselTextHolder {
  text-align: center;
}

//the second row with the text "new addition" and the info button
.carouselButtonRow {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


//the small h element which says, new addition
.carouselTextAddition {
  margin: 0.4em;
  color: $purple;
}

//title of the book
.carouselTextTitle {
  margin: 0.5em;
}

//description of the book
.carouselTextDescription {
  display: none;
}

//mixins for the pc version
@include breakMin(600) {

  .carouselContainer {
  width: 76%;
  padding-left: 12%;
  }

  .carouselHolder {
    display: flex !important;
    justify-content: center;
  }

  .carouselImageHolder {
    height: 60vh;
    width: 42%;
    background-size: cover;
  }

  .carouselTextHolder {
    width: 58%;
  }

  .carouselTextDescription {
    display: initial;
    padding: 0 10% 0 6%;
  }
}