.carouselContainer {
  width: 85%;
  padding-left: 7.5%;
}

.slick-arrow {
  display: none !important;
}

//the whole slide of the container
.carouselHolder {
  width: calc(100% - 2px) !important;
  text-decoration: none;
  background: rgb(255, 245, 254);
  color: black;
  border: 1px solid rgb(189, 189, 189);
}

.carouselImageHolder {
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

//box for all the text
.carouselTextHolder {
  text-align: center;
}

//the second row with the text "new addition" and the info button
.carouselButtonRow {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


//the small h element which says, new addition
.carouselTextAddition {
  margin: 0.4em;
  color: #9e18dd;
}

//title of the book
.carouselTextTitle {
  margin: 0.5em;
}

//description of the book
.carouselTextDescription {
  display: none;
}