// shows the menu button after some scrolling and triggeres an animation
.show {
  display: block;
  animation-name: showMenu;
  animation-duration: 0.5s;
}

@keyframes showMenu {
    from {opacity: 0;}
    to {opacity: 1;}
}

//hides menu button on top of the page
.hide {
  display: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2.5em;
  height: 2em;
  left: 1.5em;
  top: 1.5em;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $purple;
}

/* Sizing of clickable cross button */
.bm-cross-button {
  height: 2em !important;
  width: 2em !important;
}

/* Position of clickable cross button */
.bm-menu-wrap > div:nth-child(3) > div > span {
    top: 0.85em !important;
    right: 1.7em !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $purple;
  width: 1.6em !important;
  height: 0.3em !important;
}

/* General sidebar styles */
.bm-menu {
  width: 10em !important;
  background: $menu-dark;
  padding: 2.5em 1.5em 0;
}

.bm-menu-wrap {
  width: 15em !important;
}


/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  width: 6em !important;
  svg {
  height: inherit;
}
  fill: $menu-dark;
}

/* Wrapper for item list */
.bm-item-list {
  color: $menu-item-list;
  // padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: $menu-item;
  font-size: 1.5em;
  margin-bottom: 1em;
  &:-webkit-any-link {
    text-decoration: none !important;
  }
}

