.carouselContainer {
  width: 85%;
  padding-left: 7.5%;
}

.slick-arrow {
  display: none !important;
}

//the whole slide of the container
.carouselHolder {
  text-decoration: none;
  background: rgba(111, 0, 175, 0.096);
  color: black;
}

.carouselImageHolder {
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

//box for all the text
.carouselTextHolder {
  text-align: center;
}

//the first row with the text "new addition" and the info button
.carouselFirstRow {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

//the info button
.carouselModule {
  font-weight: bold;
  background: #9e18dd;
  color: white;
  margin-left: 1%;
  padding: 0 2%;
}


//the small h element which says, new addition
.carouselTextAddition {
  margin: 0.4em;
  color: #9e18dd;
}

//title of the book
.carouselTextTitle {
  margin: 0.7em;
}

//description of the book
.carouselTextDescription {
  display: none;
}