.carouselContainer {
  width: 85%;
  padding-left: 7.5%;
}

.slick-arrow {
  display: none !important;
}

//the whole slide of the container
.carouselHolder {
  text-decoration: none;
  background: rgba(111, 0, 175, 0.096);
  color: black;
}

.carouselImageHolder {
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

//box for all the text
.carouselTextHolder {
  text-align: center;
}

//the small h element which says, new addition
.carouselTextAddition {
  margin: 0.4em;
  color: #9e18dd;
}

//title of the book
.carouselTextTitle {
  margin: 0.7em;
}

//description of the book
.carouselTextDescription {
  display: none;
}