/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2.5em;
  height: 2em;
  left: 1.7em;
  top: 1.3em;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2em !important;
  width: 2em !important;
}

.bm-menu-wrap > div:nth-child(3) > div > span {
    top: 0.85em !important;
    right: 1.7em !important;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #9e18dd;
  width: 1.6em !important;
  height: 0.3em !important;
}

/* General sidebar styles */
.bm-menu {
  width: 10em !important;
  background: #373a47;
  padding: 2.5em 1.5em 0;
}

.bm-menu-wrap {
  width: 15em !important;
}


/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  width: 6em !important;
  svg {
  height: inherit;
}
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  // padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #bdc3c7;
  font-size: 1.5em;
  margin-bottom: 1em;
  &:-webkit-any-link {
    text-decoration: none !important;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-burger-bars {
  background: #9e18dd;
}