@import 'Menu';
@import 'mediaqueries';

body {
  background-image: url("../images/pipes.png");
  background-size: 100px 100px;
}

.All {
  min-height: 100vh;
}

.Front {
  margin-bottom: 1%;
  text-align: center;
  .front-logo {
    max-width: 25vw;
    @include break(600) {
    max-width: 50vw;
  }
  }
}

.CarouselContainer {
  display: flex;
  justify-content: center;
}

@import 'carousel';