@import 'mediaqueries';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
  @include break(600) {
    overflow-x: hidden;
  }
}

body {
  background-image: url("../images/pipes.png");
  font-size: calc(0.6em + 1vw);
  background-size: 6em 6em;
  font-family: 'Quicksand', cursive;
}

*:focus {outline:0;}

.All {
  min-height: 100vh;
}

@import 'Menu';

.Front {
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
  height: 8em;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  .front-logo {
    display: block;
    width: auto;
    height: 100%;
  }
}

@import 'carousel';