@import url("https://fonts.googleapis.com/css?family=Quicksand");
@media only screen and (max-width: 600px) { html { overflow-x: hidden; } }

body { background-image: url("../images/pipes.png"); font-size: calc(0.6em + 1vw); background-size: 6em 6em; font-family: 'Quicksand', cursive; }

*:focus { outline: 0; }

.All { min-height: 100vh; }

.show { display: block; -webkit-animation-name: showMenu; animation-name: showMenu; -webkit-animation-duration: 0.5s; animation-duration: 0.5s; }

@-webkit-keyframes showMenu { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes showMenu { from { opacity: 0; }
  to { opacity: 1; } }
.hide { display: none; }

/* Position and sizing of burger button */
.bm-burger-button { position: fixed; width: 2.5em; height: 2em; left: 1.5em; top: 1.5em; }

/* Color/shape of burger icon bars */
.bm-burger-bars { background: #9e18dd; }

/* Sizing of clickable cross button */
.bm-cross-button { height: 2em !important; width: 2em !important; }

/* Position of clickable cross button */
.bm-menu-wrap > div:nth-child(3) > div > span { top: 0.85em !important; right: 1.7em !important; }

/* Color/shape of close button cross */
.bm-cross { background: #9e18dd; width: 1.6em !important; height: 0.3em !important; }

/* General sidebar styles */
.bm-menu { width: 10em !important; background: #373a47; padding: 2.5em 1.5em 0; }

.bm-menu-wrap { width: 15em !important; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape { width: 6em !important; fill: #373a47; }
.bm-morph-shape svg { height: inherit; }

/* Wrapper for item list */
.bm-item-list { color: #b8b7ad; }

/* Individual item */
.bm-item { display: inline-block; color: #bdc3c7; font-size: 1.5em; margin-bottom: 1em; }
.bm-item:-webkit-any-link { text-decoration: none !important; }

.Front { margin-bottom: 1em; text-align: center; width: 100%; height: 8em; background-image: url("../images/logo.png"); background-repeat: no-repeat; background-size: contain; background-position: center; }
.Front .front-logo { display: block; width: auto; height: 100%; }

.carouselContainer { width: 85%; padding-left: 7.5%; }

.slick-arrow { display: none !important; }

.carouselHolder { text-decoration: none; background: rgba(111, 0, 175, 0.096); color: black; }

.carouselImageHolder { height: 55vh; background-repeat: no-repeat; background-size: cover; background-position: center; }

.carouselTextHolder { text-align: center; }

.carouselFirstRow { margin-top: 1%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.carouselModule { font-weight: bold; background: #9e18dd; color: white; margin-left: 1%; padding: 0 2%; }

.carouselTextAddition { margin: 0.4em; color: #9e18dd; }

.carouselTextTitle { margin: 0.7em; }

.carouselTextDescription { display: none; }
