@import 'mediaqueries';
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import 'pure.css';
@import '../components/slick/slick/slick.css';
@import "../components/slick/slick/slick-theme.css";

body {
  background-image: url("../images/pipes.png");
  font-size: calc(0.6em + 1vw);
  background-size: 6em 6em;
  font-family: 'Quicksand', cursive;
}

//all buttons won't be blue in chrome
*:focus {outline:0;}

//contains all elements of the app #TODO delete when enough elements on the page
.All {
  min-height: 100vh;
}

@import 'Menu';
@import './shared/modal';

//The div element with the picture inside
.Front {
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
  height: 8em;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  .front-logo {
    display: block;
    width: auto;
    height: 100%;
  }
}

@import 'carousel';